$output-bourbon-deprecation-warnings: false //Ждём обновления node-bourbon до 5-й версии

@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%
	color: #fff

#popUp
	top: 10%
	left: 45%
	height: 225px
	position: fixed
	width: 500px
	background: #fff
	margin-left: -150px	
	margin-top: -100px
	display: none 
	opacity: 0
	padding: 17px
	z-index: 6
	color: #000
	border-radius: 10px
	textarea
		width: 100%
		resize: none
	overflow: auto
	button
		float: right
		color: #fff
		text-decoration: uppercase
		padding: 0 20px
		background-color: #58c
	#close
		font-size: 15px
		padding: 0px 10px
		border: 1px solid #fff

#popUp #close
	cursor: pointer
	position: absolute
	top: 17px
	right: 17px
	display: block

#overlay
	z-index: 4
	background-color: #000
	position: fixed
	opacity: 0.86
	width: 100%
	height: 100%
	display: none
	top: 0
	left: 0

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden

.workspace-grid
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-start
	align-items: stretch
	flex-basis: 100%
	width: 100%
	height: 100%
	.panel-left
		padding: 5px
		flex-grow: 1
		background-color: #000
		.name_system
			text-align: center
		ul
			margin: 0
			width: 200px
			list-style-type: none
			padding: 5px 10px
			font-size: 15px
			a
				margin-left: 5px
				color: white
	.panel-right
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		justify-content: flex-start
		flex-grow: 5
		background-color: #444
		width: 100%
		overflow: auto
		.pr-header
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: row
			justify-content: space-between
			background-color: #444
			padding: 5px
			flex-wrap: wrap
			border-bottom: 1px solid black
			.pr-header-title
				margin: 0
				font-size: 18px
				padding: 3px 5px
				flex-shrink: 0
				i
					margin-right: 5px
			.pr-profile-div
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: row
				flex-basis: auto
				flex-shrink: 0
				a
					i
						margin-right: 5px
					margin-right: 5px
					color: #fff
					padding: 3px 5px
					border: 1px solid rgba(0,0,0,0)
					border-radius: 10px 0 10px 0
					text-decoration: none
					transition: border 0.2s
				a:hover
					border: 1px solid rgba(255,255,255,0.5)
		.workspace
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: row
			height: 100%
			width: 100%
			overflow: auto
			.item-workspace
				flex-shrink: 0
				width: 400px
				border-right: 1px solid #fff
				overflow: auto
				flex-grow: 0
				.iw-header-status
					text-align: center
				.iw-header
					padding: 5px 10px
					width: 100%
					background-color: #222
					.iw-header-control-div
						padding: 5px 0
						a
							padding: 2px 8px
							color: #fff
							border: 1px solid rgba(0,0,0,0)
							text-transform: uppercase
							text-decoration: none
							background-color: #333
							transition: all 0.5s
							margin-left: 3px
							border-radius: 50%
						a:hover
							border: 1px solid #aaa
							border-radius: 0
							background-color: #444
				.task-status-1:before
					background-color: rgba(255,0,0,0.8)
					content: ""
					margin-top: -5px
					margin-left: -5px
					width: 10px
					height: 100%
					position: absolute
					border-radius: 5px 0 0 5px
				.task-status-2:before
					background-color: rgba(255,255,0,0.8)
					content: ""
					margin-top: -5px
					margin-left: -5px
					width: 10px
					height: 100%
					position: absolute
					border-radius: 5px 0 0 5px
				.task-status-3:before
					background-color: rgba(0,255,0,0.8)
					content: ""
					margin-top: -5px
					margin-left: -5px
					width: 10px
					height: 100%
					position: absolute
					border-radius: 5px 0 0 5px
				.task-status-4:before
					background-color: rgba(180,105,0,0.8)
					content: ""
					margin-top: -5px
					margin-left: -5px
					width: 10px
					height: 100%
					position: absolute
					border-radius: 5px 0 0 5px
				.task-div
					font-size: 14px
					position: relative
					margin:  10px 5px 10px 5px
					padding: 5px
					border-radius: 10px
					background-color: #555
					.task-comment:before
						content: ''
						width: 0
						height: 0
						border-left: 5px solid transparent
						border-right: 5px solid transparent
						border-bottom: 7px solid rgba(255,255,255,0.8)
						position: absolute
						top: -7px
					.task-comment
						position: relative
						background-color: rgba(255,255,255,0.8)
						border-radius: 5px
						padding: 5px 10px
						margin-left: 10px
						font-size: 12px
						margin-top: 5px
						display: inline-block
						color: #000
					.task-date-closed:before
						content: "Дата исполнения: "
						margin-left: 5px
					.task-date:before
						content: "Дата назначения: "
						margin-left: 5px
					.task-deadline:before
						content: "Крайник срок: "
						margin-left: 5px
					.task-deadline
						text-decoration: underline
					div
						margin-left: 5px
					.task-appointed
						display: block
						.task-author:before
							content: "Назначил: "
					.task-priority:before
						content: "Приоритет: "
					.task-priority
						margin-left: 10px
					.task-control-div
						margin-top: 2px
						text-align: right
						padding-bottom: 3px
						a
							padding: 5px 10px
							color: #fff
							border: 1px solid rgba(0,0,0,0)
							text-transform: uppercase
							text-decoration: none
							background-color: #666
							border-radius: 5px
							transition: all 0.3s
							margin-left: 3px
						a:hover
							border: 1px solid #aaa
							border-radius: 0
							
					.task-header
						.task-uid
							display: inline-block
						.task-uid:after
							content: ". "
						.task-uid:before
							content: "#"
						.task-title
							font-style: italic
							display: inline-block
		.workspace-not-result
			width: 100%
			height: 100%
			text-align: center
			i
				display: inline-block
				margin: 30px 0
				text-shadow: 1px 1px 1px #000
				font-size: 20px
				border-bottom: 2px dashed #fff
				padding: 0 10px
		.tl-header
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: row
				background-color: #888
				padding: 5px
				text-shadow: 1px 1px 1px #000
				a
					background-color: #666
					border-radius: 5px
					color: #fff
					text-decoration: none
					box-shadow: -1px -1px 0px 0px #000 inset
					margin-right: 10px
					padding: 0 10px 3px 10px
					border: 1px solid #555
					transition: border .3s,border-radius .3s,background-color .3s
					i
						margin-right: 5px
				a:hover
					background-color: #444
					border: 1px solid #aca
					border-radius: 0
				a:last-child
					margin-right: 0
				.current_page
					margin-right: 10px
					padding: 0 5px
		.task-list-page
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column
			height: 100%
			width: 100%
			overflow: auto
			background-color: #fff
			table
				white-space: nowrap
				color: #000
				tr
					th
						text-align: left
						padding: 5px 10px
						background-color: #dff
						border: 1px solid black
					td
						padding: 5px 10px
						border: 1px solid black
						a
							padding: 5px
							color: #55a
					td ~ .td_status_1
						color: #fff
						background-color: #f66
						text-shadow: 1px 1px 0px #000
					td ~ .td_status_2
						color: #fff
						background-color: #fc4
						text-shadow: 1px 1px 0px #000
					td ~ .td_status_3
						color: #fff
						background-color: #6c6
						text-shadow: 1px 1px 0px #000
					td ~ .td_status_4
						background-color: #964b00
						color: #fff
						text-shadow: 1px 1px 0px #000
			.div-null-result
				color: #000
				border-bottom: 1px dashed #000080
				text-shadow: 1px 1px 1px #eee
				background-color: #ddd
				margin: 10px
				border-radius: 10px
				text-align: center
				padding: 10px
				font-size: 24px
				a
					font-size: 18px
					cursor: pointer
					color: #006
					text-decoration: none
					i
						margin-right: 5px
		.users-list-page
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column
			height: 100%
			width: 100%
			overflow: auto
			background-color: #fff
			table
				white-space: nowrap
				color: #000
				tr
					th
						text-align: left
						padding: 5px 10px
						background-color: #dff
						border: 1px solid black
					td
						padding: 5px 10px
						border: 1px solid black
						a
							padding: 5px
							color: #55a
			.workspace-not-result
				width: 100%
				height: 100%
				text-align: center
				i
					color: black
					display: inline-block
					margin: 30px 0
					text-shadow: 1px 1px 1px #fff
					font-size: 20px
					border-bottom: 2px dashed #000
					padding: 0 10px
		.creation-page
			width: 100%
			height: 100%
			background-color: #fff
			padding: 0 10%
			overflow: auto
			.new-user-form
				::-webkit-input-placeholder
					color:#aaa
				::-moz-placeholder
					color:#aaa
				:-moz-placeholder
					color:#aaa
				:-ms-input-placeholder
					color:#aaa
				div
					label
						display: inline-block
						border: 1px solid black
						margin: 10px 0
						padding: 0 5px
						border-radius: 5px
					.cb-visible-pass
						width: 20px
						display: inline-block
				div.divBtnVisible
					label, input
						cursor: pointer
			form
				.numb-task:before
						content: "Задача #"
						color: #000
				.a_edit
					display: inline-block
					color: black
					text-decoration: none
					text-transform: uppercase
					padding: 5px 30px
					border: 2px solid black
					background-color: #fff
					font-size: 15px
					margin: 10px 0
				.a_edit:hover
					background-color: #000
					color: #fff
				.a_del
					display: inline-block
					color: #000
					text-decoration: none
					text-transform: uppercase
					padding: 5px 30px
					border: 2px solid #000
					background-color: #fff
					font-size: 15px
					margin: 10px 0
					i
						margin-right: 5px
				.a_del:hover
					background-color: #f55
					color: #fff
					border: 2px solid #f55
			.div-hint
				color: #000
				padding: 10px
				background-color: #add
				border-radius: 5px
				margin-bottom: 10px
			.div-hint:before
				content: ''
				width: 0
				height: 0
				border-left: 10px solid transparent
				border-right: 10px solid transparent
				border-bottom: 15px solid #add
				position: relative
				top: -49px
			form
				color: #000
				padding: 20px 0
				input
					padding: 5px
					width: 100%
					margin-bottom: 10px
				textarea
					width: 100%
					resize: none
					margin-bottom: 10px
				button
					text-transform: uppercase
					padding: 5px 30px
					border: 2px solid black
					background-color: #fff
				button:hover
					background-color: #000
					color: #fff
					border: 2px solid white
				select
					width: 100%
					margin-bottom: 10px
		.column-3
			flex-basis: auto
			justify-content: space-around
			.item-workspace
				width: 33.3%
				border-right: 1px solid white
				.task-div
					position: relative
					height: 200px
					font-size: 14px
					.task-control-div
						position: absolute
						bottom: 10px
						right: 10px
						a
							display: inline-block


@import "media" // Всегда в конце
