@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden

.index-page
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	width: 100%
	height: 100%
	flex-direction: column
	background-color: #444
	.div-form
		margin: auto
		background-color: #666
		padding: 10px
		border-radius: 10px
		box-shadow: 1px 1px 1px 0px #000
		form
			p
				input
					float: right
		button
			display: block
			width: 100%
			margin-top: 10px
			border: 0
			text-transform: uppercase
			font-size: 20px
			border: 1px solid #fff
			border-radius: 10px 0 10px 0
			transition: all 0.2s
		button:hover
			border-radius: 0
			border: 1px solid black
	.title-index
		color: #fff
		text-shadow: 1px 1px 1px #000
		font-size: 20px
		width: 100%
		text-align: center
	.index-error
		text-align: center
		background-color: #c44
		border-radius: 5px
		margin-bottom: 10px

.ver-num
	position: absolute
	left: 10px
	bottom: 10px
	color: #fff
.ver-num:before
	content: "v"

@import "media" // Всегда в конце
