{% extends 'default/auth/base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="index-page">
		<div class="div-form animated fadeIn">
			<div class="title-index">Система задач ОПФР</div>
			{% if error %}
				<div class="index-error">{{ error }}</div>
			{% endif %}
			<form action="" method="post">
				{% csrf_token %}
				<p>
    				{{ form.username.label_tag }}
    				{{ form.username }}
				</p>

				<p>
    				{{ form.password.label_tag }}
    				{{ form.password }}
				</p>
				<button type="submit">Войти</button>
			</form>
		</div>
	</div>
{% endblock %}