{% extends 'default/mainPages/base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="workspace-grid">
		{% include 'default/mainPages/mainMenu.html' %}
		<div class="panel-right">
			{% include 'default/mainPages/prHeader.html' %}
			<div class="creation-page">
				<form action="/tasks/{{ task.id }}/edit" method="post">
					<div class="numb-task">{{ task.id }}</div>
					{% csrf_token %}
					{{ task_form.errors }}
					{{ task_form }}
					<select name="userAssign" id="">
						<option value="{{ task.userAssign.id }}">{{ task.userAssign }}</option>
						{% for employe in employes %}
							{% if employe.user != task.userAssign %}
								<option value="{{ employe.user.id }}">{{ employe.user }}</option>
							{% endif %}
						{% endfor %}
					</select>
					<button>Сохранить</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}