{% extends 'default/mainPages/base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="workspace-grid">
		{% include 'default/mainPages/mainMenu.html' %}
		<div class="panel-right">
			{% include 'default/mainPages/prHeader.html' %}
			<div class="creation-page">
				<form action="/users/{{ u_get.id }}/edit" method="post" class="new-user-form">
					{% csrf_token %}
					{{ user_form.username.errors }}
					<label>Имя учётной записи:{{ user_form.username }}</label>
					{{ user_form.password.errors }}
					<label>Пароль:{{ user_form.password }}</label>
					{{ user_form.password2.errors }}
					<label>Повторите пароль:{{ user_form.password2 }}</label>
					<div>
						<label>Видимость пароля: <input class="cb-visible-pass" type="checkbox"></label>
					</div>
					{{ user_form.email.errors }}
					<label>Электронная почта:{{ user_form.email }}</label>
					{{ user_form.last_name.errors }}
					<label>Фамилия:{{ user_form.last_name }}</label>
					{{ user_form.first_name.errors }}
					<label>Имя:{{ user_form.first_name }}</label>
					{{ workbio_form.errors }}
					{{ workbio_form.middleName.errors }}
					<label>Отчество:{{ workbio_form.middleName }}</label>
					{{ workbio_form.post.errors }}
					<label>Должность:{{ workbio_form.post }}
					</label>
					<button type="submit">Сохранить</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}