{% extends 'default/mainPages/base.html' %}
{% load staticfiles %}
{% block content %}
<div id="overlay"></div>
<div id="popUp">
	<span id="close"><i class="fa fa-times" aria-hidden="true"></i></span>
	<form id="commentForm" action="" method="get">
		<input type="text" id="taskInput" name="task" value="" hidden="">
		<input type="text" id="actInput" name="act" value="" hidden="">
		<label for="">Комментарий к задаче: <textarea name="new_comment" id="" cols="20" rows="4" required></textarea></label>
		<button type="submit">Принять</button>
	</form>
</div>
	<div class="workspace-grid">
		{% include 'default/mainPages/mainMenu.html' %}
		<div class="panel-right">
			{% include 'default/mainPages/prHeader.html' %}
			<div class="workspace column-3">
				<div class="item-workspace">
					<div class="iw-header">
						<div class="iw-header-status">Не отработанные</div>
					</div>
					{% for task in task_1 %}
							<div class="task-div task-status-1">
							<div class="task-header">
								<div class="task-uid">{{ task.id }}</div>
								<div class="task-title">{{ task.nameTask }}</div>
							</div>
							<div class="task-appointed">
								<div class="task-author">{{ task.userInitial }}</div>
							</div>
							<div class="task-priority">{{ task.priorety }}</div>
							<div class="task-date">{{ task.date_added }}</div>
							{% if task.date_deadline is not None %}
                                <div class="task-deadline">{{ task.date_deadline }}</div>
							{% endif %}
							<div class="task-control-div">
								<a href="/tasks/{{ task.id }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
								<a href="?act=status&task={{ task.id }}">Обработать</a>
							</div>
						</div>
					{% endfor %}
					{% for task in task_4 %}
							<div class="task-div task-status-{{ task.status.id }}">
							<div class="task-header">
								<div class="task-uid">{{ task.id }}</div>
								<div class="task-title">{{ task.nameTask }}</div>
							</div>
							<div class="task-appointed">
								<div class="task-author">{{ task.userInitial }}</div>
							</div>
							<div class="task-priority">{{ task.priorety }}</div>
							<div class="task-date">{{ task.date_added }}</div>
                            {% if task.date_deadline is not None %}
                                <div class="task-deadline">{{ task.date_deadline }}</div>
							{% endif %}
							{% if task.comment_return is not None %}
								<div class="task-comment">{{ task.comment_return }}</div>
							{% endif %}
							<div class="task-control-div">
								<a href="/tasks/{{ task.id }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
								<a href="?act=status&task={{ task.id }}">Обработать</a>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="item-workspace">
					<div class="iw-header">
						<div class="iw-header-status">В обработке</div>
					</div>
					{% for task in task_2 %}
							<div class="task-div task-status-{{ task.status.id }}">
							<div class="task-header">
								<div class="task-uid">{{ task.id }}</div>
								<div class="task-title">{{ task.nameTask }}</div>
							</div>
							<div class="task-appointed">
								<div class="task-author">{{ task.userInitial }}</div>
							</div>
							<div class="task-priority">{{ task.priorety }}</div>
							<div class="task-date">{{ task.date_added }}</div>
							{% if task.date_deadline is not None %}
                                <div class="task-deadline">{{ task.date_deadline }}</div>
							{% endif %}
							<div class="task-control-div">
								<a href="?act=return&task={{ task.id }}" id="popup"><i class="fa fa-retweet" aria-hidden="true"></i></a>
								<a href="/tasks/{{ task.id }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
								<a href="?act=status&task={{ task.id }}">Завершить</a>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="item-workspace">
					<div class="iw-header">
						<div class="iw-header-status">
							Завершено
						</div>
					</div>
					{% for task in task_3 %}
							<div class="task-div task-status-{{ task.status.id }}">
							<div class="task-header">
								<div class="task-uid">{{ task.id }}</div>
								<div class="task-title">{{ task.nameTask }}</div>
							</div>
							<div class="task-appointed">
								<div class="task-author">{{ task.userInitial }}</div>
							</div>
							<div class="task-priority">{{ task.priorety }}</div>
							<div class="task-date">{{ task.date_added }}</div>
							<div class="task-date-closed">{{ task.date_closed }}</div>
							{% if task.date_deadline is not None %}
                                <div class="task-deadline">{{ task.date_deadline }}</div>
							{% endif %}
							<div class="task-control-div">
								<a href="?act=return&task={{ task.id }}" id='popup'><i class="fa fa-retweet" aria-hidden="true"></i></a>
								<a href="/tasks/{{ task.id }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}