{% extends 'default/mainPages/base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="workspace-grid">
		{% include 'default/mainPages/mainMenu.html' %}
		<div class="panel-right">
			{% include 'default/mainPages/prHeader.html' %}
			<div class="workspace">
				{% if employes %}
					{% for key,employe in employes.items %}
						<div class="item-workspace">
						<div class="iw-header">
							<div class="iw-header-fio">{{ employe }}</div>
							<div class="iw-header-post">{{ employe.workbio.post }}</div>
							<div class="iw-header-control-div">
								<a href="/tasks/history/{{employe.id}}"><i class="fa fa-history" aria-hidden="true"></i></a>
								<a href="/users/{{ employe.id }}"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
								<a href="/tasks/new?id={{ employe.id }}"><i class="fa fa-plus" aria-hidden="true"></i></a>
							</div>
						</div>
						{% if tasks is not None %}
							{% for key_t,task in tasks.items %}
								{% if key == key_t %}
									{% for task_ch in task %}
										{% if task_ch.status.id != 3 %}
											<div class="task-div task-status-{{ task_ch.status.id }}">
												<div class="task-header">
													<div class="task-uid">{{ task_ch.id }}</div>
													<div class="task-title">{{ task_ch.nameTask }}</div>
												</div>
												<div class="task-appointed">
													<div class="task-author">{{ task_ch.userInitial }}</div>
												</div>
												<div class="task-priority">{{ task_ch.priorety }}</div>
												<div class="task-date">{{ task_ch.date_added }}</div>
												{% if task_ch.date_deadline is not None %}
													<div class="task-deadline">{{ task_ch.date_deadline }}</div>
												{% endif %}
												{% if task_ch.comment_return is not None %}
													<div class="task-comment">{{ task_ch.comment_return }}</div>
												{% endif %}
												<div class="task-control-div">
													<a href="/tasks/{{ task_ch.id }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
												</div>
											</div>
										{% endif %}
									{% endfor %}
								{% endif %}
							{% endfor %}
						{% else %}
							<div class="workspace-not-result">
								<i>У вас пока нет сотрудников!</i>
							</div>
						{% endif %}
					</div>
					{% endfor %}
				{% else %}
					<div class="workspace-not-result">
						<i>У вас пока нет сотрудников!</i>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}