<div class="panel-left">
    <div class="name_system">Система задач v{{ VERSION_SYSTEM }}</div>
    <ul>
        <li><i class="fa fa-bar-chart" aria-hidden="true"></i><a href="/">Рабочая среда</a></li>
        {% if myUser.workbio.role.id == 1 %}
            <li><i class="fa fa-tasks" aria-hidden="true"></i><a href="/my_workspace">Мои задачи</a></li>
            <li><i class="fa fa-users" aria-hidden="true"></i><a href="/users">Пользователи</a></li>
        {% endif %}
        <li><i class="fa fa-list" aria-hidden="true"></i><a href="/tasks">Список задач</a></li>
    </ul>
</div>