<div class="panel-left">
    <div class="name_system">Система задач v1.0</div>
    <ul>
        <li><i class="fa fa-bar-chart" aria-hidden="true"></i><a href="/workspace">Рабочая среда</a></li>
        <li><i class="fa fa-list" aria-hidden="true"></i><a href="/tasks">Список задач</a></li>
        <li><i class="fa fa-users" aria-hidden="true"></i><a href="/users">Пользователи</a></li>
    </ul>
</div>