{% extends 'default/mainPages/base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="workspace-grid">
		{% include 'default/mainPages/mainMenu.html' %}
		<div class="panel-right">
			{% include 'default/mainPages/prHeader.html' %}
			<div class="creation-page">
				<form>
					<label>Фамилия<input type="text" disabled value="{{ u_get.last_name }}"></label>
					<label>Имя<input type="text" disabled value="{{ u_get.first_name }}"></label>
					<label>Отчество<input type="text" disabled value="{{ u_get.workbio.middleName }}"></label>
					<label>Должность<input type="text" disabled value="{{ u_get.workbio.post }}"></label>
					<label>Отдел<input type="text" disabled value="{{ u_get.workbio.department }}"></label>
				{% if myUser.workbio.role.id == 1 %}
					<a class="a_edit" href="/users/{{ u_get.id }}/edit">Редактировать</a>
				{% else %}
					<div class="div-hint">Для изменения данных вашей учётной записи, обратитесь к начальнику отдела!</div>
				{% endif %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}