{% extends 'default/mainPages/base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="workspace-grid">
		{% include 'default/mainPages/mainMenu.html' %}
		<div class="panel-right">
			{% include 'default/mainPages/prHeader.html' %}
			<div class="creation-page">
				<form action="" method="post">
					{% csrf_token %}
					{{ task_form }}
					{% if myUser.workbio.role.id == 1 %}
						<select name="userAssign" id="">
							{% if user_choised is not True %}
								<option value="{{ myUser.id }}">{{ myUser }}</option>
							{% endif %}
							{% for employe in employes %}
								<option value="{{ employe.user.id }}">{{ employe.user }}</option>
							{% endfor %}
						</select>
					{% else %}
					<label>Исполнитель:<input disabled type="text" value="{{ myUser }}"></label>
					{% endif %}
					<hr>
					<button type="submit">Создать</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}