<div class="pr-header">
    <h1 class="pr-header-title"><i class="fa fa-angle-double-right" aria-hidden="true"></i>{{ title }}</h1>
    <div class="pr-profile-div">
        <a href="/users/{{ myUser.id }}"><i class="fa fa-user-circle-o" aria-hidden="true"></i>{{ myUser }}</a>
        <a href="/?act=exit"><i class="fa fa-sign-out" aria-hidden="true"></i>Выход</a>
    </div>
</div>