{% extends 'default/mainPages/base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="workspace-grid">
		{% include 'default/mainPages/mainMenu.html' %}
		<div class="panel-right">
			{% include 'default/mainPages/prHeader.html' %}
					<div class="tl-header">
						{% if act and act == 'history' %}
								{% if tasks.has_previous %}
									<a href="/tasks/history/{{ user_get.id }}?page={{ tasks.previous_page_number }}" class="a-turn-left"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
								{% endif %}
								<span class="current_page">
									{{ tasks.number }} из {{ tasks.paginator.num_pages }}
								</span>
								{% if tasks.has_next %}
									<a href="/tasks/history/{{ user_get.id }}?page={{ tasks.next_page_number }}" class="a-turn-right"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
								{% endif %}
						{% else %}
							<a href="/tasks/new" class="create-task"><i class="fa fa-plus" aria-hidden="true"></i>Создать задачу</a>
							{% if tasks.has_previous %}
								<a href="/tasks?page={{ tasks.previous_page_number }}" class="a-turn-left"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
							{% endif %}
							{% if tasks.has_next %}
								<a href="/tasks?page={{ tasks.next_page_number }}" class="a-turn-right"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
							{% endif %}
						{% endif %}
					</div>
			<div class="task-list-page">
				{% if tasks.paginator.count == 0 %}
					<div class="div-null-result">
						<p style="margin: 10px 0;">Задачи отсутствуют!</p>
						<a onclick="history.back();">
							<i class="fa fa-undo" aria-hidden="true"></i>
							вернуться
						</a>
					</div>
				{% else %}
					<table>
						<tr>
							<th>№</th>
							<th>Название задачи</th>
							<th>Краткое описание</th>
							<th>Приоритет</th>
							<th>Статус</th>
							{% if myUser.workbio.role.id == 1 %}
								<th>Исполнитель</th>
							{% else %}
								<th>Назначил</th>
							{% endif %}
							<th>Дата назначения</th>
							<th>Крайник срок выполнения</th>
						</tr>
						{% for task in tasks %}
							<tr>
								<td><a href="/tasks/{{ task.id }}">{{ task.id }}</a></td>
								<td>{{ task.nameTask }}</td>
								<td>{{ task.briefDescr }}</td>
								<td>{{ task.priorety }}</td>
								{% if task.status.id == 1 %}
									<td class="td_status_1">{{ task.status }}</td>
								{% elif task.status.id == 2 %}
									<td class="td_status_2">{{ task.status }}</td>
								{% elif task.status.id == 3 %}
									<td class="td_status_3">{{ task.status }}</td>
								{% elif task.status.id == 4 %}
									<td class="td_status_4">{{ task.status }}</td>
								{% endif %}
								{% if myUser.workbio.role.id == 2 %}
									<td>{{ task.userInitial }}</td>
								{% else %}
									<td>{{ task.userAssign }}</td>
								{% endif %}
								<td>{{ task.date_added }}</td>
								<td>{% if task.date_deadline is None %}Не указано{% else %}{{ task.date_deadline }}{% endif %}</td>
							</tr>
						{% endfor %}
					</table>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}