{% extends 'default/mainPages/base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="workspace-grid">
		{% include 'default/mainPages/mainMenu.html' %}
		<div class="panel-right">
			{% include 'default/mainPages/prHeader.html' %}
			<div class="creation-page">
				<form>
					<div class="numb-task">{{ task.id }}</div>
					<label>Название задачи<input type="text" disabled value="{{ task.nameTask }}"></label>
					<label>Описание задачи
						<textarea cols="30" disabled rows="5">{{ task.description }}</textarea>
					</label>
					<label>Приоритет<input type="text" disabled value="{{ task.priorety }}"></label>
					<label>Статус<input type="text" disabled value="Не обработанные"></label>
					{% if task.comment_return is not None %}
						<label>Комментарий к задаче
							<textarea cols="30" disabled rows="2">{{ task.comment_return }}</textarea>
						</label>
					{% endif %}
					<label>Дата назначения<input type="date" disabled value="{{ task.date_added }}"></label>
					{% if task.status.id == 3 %}
						<label>Дата закрытия<input type="date" disabled value="{{ task.date_closed }}"></label>
					{% endif %}
					<label>Крайний срок<input type="text" disabled placeholder="Необязательное поле"
											  value="{% if task.date_deadline == None %}Не указано{% endif %}"></label>
					<label>Исполнитель<input type="text" disabled value="{{ task.userAssign }}"></label>
					<label>Назначил<input type="text" disabled value="{{ task.userInitial }}"></label>
                    {% if task.status.id != 3 and task.userInitial.workbio.department == myUser.workbio.department and myUser.workbio.role.id == 1 %}
                        <a class="a_edit" href="/tasks/{{ task.id }}/edit">Редактировать</a>
                    {% endif %}
					{% if task.status.id == 1 and task.userInitial.workbio.department == myUser.workbio.department and myUser.workbio.role.id == 1 %}
						<a class="a_del" href="/tasks/{{ task.id }}/delete" onclick="return confirm('Удалить задачу?')"><i class="fa fa-trash-o" aria-hidden="true" ></i>Удалить</a>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}