{% extends 'default/mainPages/base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="workspace-grid">
		{% include 'default/mainPages/mainMenu.html' %}
		<div class="panel-right">
			{% include 'default/mainPages/prHeader.html' %}
			<div class="tl-header">
				<a href="/users/new" class="create-task"><i class="fa fa-plus" aria-hidden="true"></i>Добавить пользователя</a>
				{% if user_list.has_previous %}
					<a href="?page={{ user_list.previous_page_number }}" class="a-turn-left"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
				{% endif %}
				{% if user_list.has_next %}
					<a href="?page={{ user_list.next_page_number }}" class="a-turn-right"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
				{% endif %}
			</div>
			<div class="users-list-page">
				{% if user_list %}
					<table>
						<tr>
							<th>id</th>
							<th class="td-title">Фамилия</th>
							<th class="td-brief-descr">Имя</th>
							<th>Отчество</th>
							<th>Должность</th>
							<th>Отдел</th>
							<th class="td-deadline">Дата добавления</th>
						</tr>
						{% for user_item in user_list %}
							{% if user_item.user.is_active is not False %}
								<tr>
									<td><a href="/users/{{ user_item.user.id }}">{{ user_item.user.id }}</a></td>
									<td class="td-last-name">{{ user_item.user.last_name }}</td>
									<td class="td-first-name">{{ user_item.user.first_name }}</td>
									<td class="td-middle-name">{{ user_item.middleName }}</td>
									<td class="td-post">{{ user_item.post }}</td>
									<td class="td-otdel">{{ user_item.department }}</td>
									<td class="td-date-added">{{ user_item.user.date_joined }}</td>
								</tr>
							{% endif %}
						{% endfor %}
					</table>
				{% else %}
					<div class="workspace-not-result">
						<i>В вашем отделе нет сотрудников!</i>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}